.Dashboard {
  display: flex;
  flex-direction: column;
}

.Dashboard .CardList {
}
.Dashboard .CardList ul {
  display: flex;
  list-style-type: none;
  padding: 0;

  li {
    border: 1px solid $gunGrey;
    padding: 20px;
    border-radius: 3px;
    cursor: pointer;
    color: $gunGrey;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $gunGrey;
      color: $antiFlashWhite;
    }
  }
}
