@import "./Main.scss";

html,
body {
  font-size: 62.5%;
  background-color: $grey;
}

body {
  margin: 0;
  font-family: "Heebo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: $antiFlashWhite;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.WidthContent {
  position: relative;
  max-width: 1200px;
  padding: 0 60px;
  margin: 0 auto;
}

@import "./features/dashboard/styles/dashboard.scss";
@import "./features/header/styles/header.scss";
@import "./features/header/styles/userMenu.scss";
@import "./features/login/styles/login.scss";
@import "./features/polynomial/styles/polynomial.scss";
@import "./features/equationGenerator/styles/equationGenerator.scss";
