$gunGrey: #2c3539;
$grey: #c8c8c8;
$antiFlashWhite: #f2f3f4;

.Btn {
  position: relative;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  letter-spacing: 0.01em;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.Primary {
    border: 1px solid $antiFlashWhite;
    color: $antiFlashWhite;
    background-color: transparent;
  }

  &.Grey {
    border: 1px solid $gunGrey;
    color: $antiFlashWhite;
    background-color: $gunGrey;
  }

  &.LightGrey {
    background-color: $antiFlashWhite;
    color: #000;
  }

  &:hover {
    background-color: $grey;
    color: #000;
  }

  &.WithIcon {
    padding-left: 40px;
    font-size: 1.6rem;

    .Icon {
      position: absolute;
      left: 8px;
      top: 5px;
    }
  }
}

.Btn:focus {
  outline: none;
}
